@{
    ViewData["Title"] = "Dashboard";

    var teams = ViewData["TeamsOfUser"] as List<TeamViewModel>;
    var reservations = ViewData["AllUserReservations"] as List<ReservationViewModel>;
    var floors = ViewData["Floors"] as List<FloorViewModel>;
    var workzones = ViewData["Workzones"] as List<WorkzoneViewModel>;
    DateTime now = DateTime.Now;
    var twentyFourHoursTime = now.ToString("HH:mm");




    var responseModel = ViewData["ResponseModel"] as ResponseViewModel;
}
<div class="modal" id="WorkzoneSelectedModal" tabindex="-1" role="form">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="Reserve" asp-controller="Reservation" asp-antiforgery="true">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">Start:</div>
                        <div class="col-6">
                            <input type="time" value="@twentyFourHoursTime" name="datetime-coming" class="form-control" />

                        </div>



                        <div class="col-6">Tot en met:</divmodal-dialog
                        <div class="col-6">
                            <input type="time" max="18:00" min="08:00" value="18:00" name="datetime-leaving" id="WorkzoneLeavingForm" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="workzone-id" id="WorkzoneIdForm" />
                    <input type="hidden" name="datetime-start" id="WorkzoneArrivingForm" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                    <button type="submit" class="btn btn-primary">Reserveren</button>
                </div>
            </form>
        </div>
    </div>
</div>

<partial name="_ResponseModalPartial" model="@responseModel" />

<div class="text-left">
    <div class="row">
        <div class="col-lg-3 col-12">
            <div id="LeftForm" class="">
                <div id="DateSelector" class="select-menu-item">
                    <label for="DateSelectorInput">Reserveer:</label>
                    <input id="DateSelectorInput" class="form-control" type="datetime-local">
                </div>
                <div id="FloorSelector" class="select-menu-item">
                    <label for="FloorSelector">Verdieping:</label>
                    @if (floors.Count != 0)
                    {
                        <select id="FloorSelectorSelect" class="form-control" onchange="FloorSelectChange()">
                            @foreach (var floor in floors)
                            {
                                <option value="@floor.Id">@Html.Encode(floor.Name)</option>
                            }
                        </select>
                    }
                    else
                    {
                        <div class="alert alert-warning">
                            Er zijn geen <span class="alert-heading font-weight-bold">verdiepingen</span>
                        </div>
                    }

                </div>
                <hr style="height: 0.5px; background-color: #4525F2;" />
                <div class="container d-inline-flex justify-content-between p-0">
                    <div id="TeamSelector" class="select-menu-item">
                        <input class="form-check-input d-none" type="checkbox" id="TeamCheckBox" onchange="CheckTeamInput()" />
                        <label class="form-check-label" for="TeamCheckBox">
                            Team
                            <span id="TeamCheckBoxOff" class="teamcheckboxOff ml-1">
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16"
                                     class="bi bi-toggle-off" fill="black"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z" />
                                </svg>
                            </span>
                            <span id="TeamCheckBoxOn" class="teamcheckboxOn d-none ml-1">
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16"
                                     class="bi bi-toggle-on" fill="#4525F2"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 0 0-8 4 4 0 0 0 0 8z" />
                                </svg>
                            </span>
                        </label>
                    </div>
                    <a asp-action="Create" asp-controller="Team" class="btn btn-primary font-weight-bold">+</a>
                </div>
                <div id="TeamList" class="list-group team-list d-none height-150 scrollable-div">
                    @foreach (var team in teams)
                    {
                        <a asp-action="Details" asp-controller="Team" asp-route-id="@team.Id" class="list-group-item team-list-item mr-1">@Html.Encode(team.Name)</a>
                    }
                </div>
                <hr style="height: 0.5px; background-color: #4525F2;" />
                <div id="WorkSpotSelect" class="select-menu-item">
                    <h5><span id="WorkspotCount"></span> Werkplekken: </h5>
                    <div id="WorkSpotSelectList" class="WorkSpotSelectList">
                        @if (workzones != null && workzones.Count != 0)
                        {
                            <div class="list-group">
                                @foreach (var workzone in workzones)
                                {
                                    <a class="list-group-item workzone-list-item" data-toggle="modal" data-target="#WorkzoneSelectedModal" data-floor="@workzone.Floor" data-team-only="@workzone.TeamOnly" data-workzone-id="@workzone.Id" data-workzone-name="@workzone.Name">
                                        <div class="container px-0 d-inline-flex justify-content-between align-items-center">
                                            <p class="m-0">@Html.Encode(workzone.Name)</p>

                                            @if (workzone.TeamOnly)
                                            {
                                                <span class="badge">Team Only</span>
                                            }

                                            @if (workzone.Workspaces != 0)
                                            {
                                                @if (@workzone.AvailableWorkspaces > 0){
                                                    <span class="badge badge-primary">
                                                        @workzone.AvailableWorkspaces
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger">
                                                        <text>vol</text>
                                                    </span>
                                                }
                                            }
                                            else
                                            {
                                                <span class="badge badge-danger">VOL</span>
                                            }
                                        </div>
                                    </a>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-warning mb-0">
                                Er zijn geen <span class="alert-heading font-weight-bold">werkplekken</span>
                            </div>
                        }
                    </div>
                </div>
                <h5>Vandaag gereserveerd: </h5>
                <div id="ReserverdWorkSpotSelect" class="select-menu-item WorkSpotSelectList">
                    @if (reservations.Count != 0)
                    {
                        <div class="list-group">
                            @foreach (var reservation in reservations)
                            {
                                <text>
                                    <div class="list-group-item mr-1">
                                        <div class="row">
                                            <div class="col-12 font-weight-bold" style="font-size: 14px;">@Html.Encode(reservation.Workzone.Name)</div>
                                            <div class="col-12">
                                                <small>@reservation.DateTime_Arriving.TimeOfDay - @reservation.DateTime_Leaving.TimeOfDay</small>
                                            </div>
                                            <div class="col-12">
                                                <form asp-action="Cancel" asp-controller="Reservation" asp-antiforgery="true">
                                                    <input id="Id" name="Id" type="hidden" value="@reservation.Id" />
                                                    <button type="submit" class="hyperlink__button">Annuleer</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </text>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-warning">
                            Er zijn vandaag geen <span class="alert-heading font-weight-bold">reseveringen</span>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div id="WorkspaceHotspots" class="col-md-9 d-none d-md-block">
            <div class="imagemap">
                <div id="ImageOverlay" class="image-overlay"></div>
                <div class="image-wrapper">
                    <img id="FloorImage" src="~/images/Verdieping-1.jpg" width="100%" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-warning fade show" role="alert" id="LoadingVisualWorkspots">
    <strong>Werkblokken laden.</strong>
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>