@using BusinessLayer
@model OutsourcingReservationViewModel
@{
    ViewData["Title"] = "Outsourcing";
}

<h1>Outsourcing</h1>
<form asp-action="OutsourcingFilter" method="post">
    @foreach (TeamViewModel team in Model.TeamsOfUser)
    {
        <div>
            @team.Name
            <select>
                @if (team.Users != null)
                {

                    @foreach (User user in team.Users)
                    {
                        @if (Model.SelectedUsers.Any(SelUser => SelUser.Id == user.Id))
                        {
                            <option><input type="checkbox" asp-for="SelectedUsers" value=@user checked></option>
                        }
                        else
                        {
                            <option><input type="checkbox" asp-for="SelectedUsers" value=@user></option>
                        }

                    }
                }

            </select>

        </div>
    }
    @if (Model.IsTeam == true)
    {
        <div>
            <input type="checkbox" asp-for="IsTeam" value="true" checked id="IsTeamCBX">
            <label for="IsTeamCBX">Reserve for team</label>
        </div>
    }
    else
    {
        <div>
            <input type="checkbox" asp-for="IsTeam" value="true" id="IsTeamCBX">
            <label for="IsTeamCBX">Reserve for team</label>
        </div>
    }
    <br />
    <select asp-for="SelectedFloor">
        <option value="1"> Floor 1</option>
        <option value="2"> Floor 2</option>
    </select>
    <input type="hidden" asp-for="SelectedUsers.Add(@Model.LoggedInUser)" value=@Model.LoggedInUser />
    <input type="datetime-local" max="18:00" min="08:00" value=@Model.dateTime_Planned_Start asp-for="dateTime_Planned_Start" class="form-control" />
    <input type="datetime-local" max="18:00" min="08:00" value=@Model.dateTime_Planned_Leaving asp-for="dateTime_Planned_Leaving" class="form-control" />
    <button type="submit" class="btn btn-primary">Find Aivalable</button>
</form>
<div>

    @foreach (WorkzoneViewModel workzone in Model.AllWorkzones)
    {
        <div class="col border border-1">
            Name : @workzone.Name
            Floor : @workzone.Floor
            Workspaces : @workzone.Workspaces
        </div>
    }
</div>
