@model Dictionary<string, List<ViewLayer.Models.ReservationViewModel>>

@{
    ViewData["Title"] = "Reserveringen";
    var individualReservations = ViewData["IndividualReservations"] as Dictionary<string, List<ViewLayer.Models.ReservationViewModel>>;
    var teamReservations = ViewData["TeamReservations"] as Dictionary<string, List<ViewLayer.Models.TeamReservationViewModel>>;
    var responseModel = ViewData["ResponseModel"] as ViewLayer.Models.ResponseViewModel;
}

<h1>Uw Reserveringen</h1>
<hr />

<partial name="_ResponseModalPartial" model="@responseModel" />

@if (individualReservations.Count != 0)
{
    <h5 class="mt-3">Individuele Reserveringen</h5>
    @foreach (var group in individualReservations)
    {
        <div class="container p-0 mt-3">
            <div class="badge badge-primary">
                <p style="font-size: 15px" class="m-0 p-1">@Html.Encode(group.Key)</p>
            </div>

            @foreach (var reservation in group.Value)
            {
                <text>
                    <div class="list-group-item mt-3">
                        <div class="row">
                            <div class="col-md-10 col-12">
                                <div class="row">
                                    <div class="col-12 font-weight-bold">@Html.Encode(reservation.Workzone.Name)</div>
                                    <div class="col-12">
                                        <p class="m-0">@reservation.DateTime_Arriving.TimeOfDay - @reservation.DateTime_Leaving.TimeOfDay</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-12 d-inline-flex align-items-center justify-content-start">
                                <form asp-action="Cancel" asp-antiforgery="true">
                                    <input id="Id" name="Id" type="hidden" value="@reservation.Id" />
                                    <input id="RedirectUrl" name="RedirectUrl" type="hidden" value="/Reservation" />
                                    <button type="submit" class="btn btn-danger py-0">Annuleer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </text>
            }
        </div>
    }
}

@if (teamReservations.Count != 0)
{
    <h5 class="mt-3">Team Reserveringen</h5>
    @foreach (var group in teamReservations)
    {
        <div class="container p-0 mt-3">
            <div class="badge badge-primary">
                <p style="font-size: 15px" class="m-0 p-1">@Html.Encode(group.Key)</p>
            </div>

            @foreach (var reservation in group.Value)
            {
                <text>
                    <div class="list-group-item mt-3">
                        <div class="row">
                            <div class="col-md-10 col-12">
                                <div class="row">
                                    <div class="col-12 font-weight-bold">@Html.Encode(reservation.Team.Name)</div>
                                    <div class="col-12">
                                        <small>@Html.Encode(string.Join(", ", reservation.Workzones.Select(x => x.Name)))</small>
                                    </div>
                                    <div class="col-12">
                                        <p class="m-0">@reservation.TimeArriving.TimeOfDay - @reservation.TimeLeaving.TimeOfDay</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-12 d-inline-flex align-items-center justify-content-start">
                                <form asp-action="CancelTeam" asp-antiforgery="true">
                                    <input id="Id" name="Id" type="hidden" value="@reservation.Id" />
                                    <input id="RedirectUrl" name="RedirectUrl" type="hidden" value="/Reservation" />
                                    <button type="submit" class="btn btn-danger py-0">Annuleer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </text>
            }
        </div>
    }
}

@if (individualReservations.Count == 0 && teamReservations.Count == 0)
{
    <div class="alert alert-warning">
        Er zijn geen <span class="alert-heading font-weight-bold">reseveringen</span>. Ga naar het
        <a asp-action="Index" asp-controller="Home">dashboard</a> om een werkplek te reserveren.
    </div>
}