@using BusinessLayer;
@using DataLayer;

@{
    User user = new User(new UserDAL());
    UserContainer userContainer = new UserContainer(new UserDAL());
    RoleContainer roleContainer = new RoleContainer(new RoleDAL());
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @if (userContainer.IsLoggedIn())
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img width="250" src="/images/Logo_Bg-removed.png" /></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex">
                        <ul class="navbar-nav flex-grow-1 justify-content-between">
                            <li class="nav-item ml-auto mr-0">
                                <div class="dropdown show">
                                    <a class="dropdown-toggle text-decoration-none" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Welkom terug, <span class="font-weight-bold">@userContainer.GetLoggedInUser().Name</span>
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a asp-action="Index" asp-controller="Home" class="dropdown-item">Home</a>
                                        <a asp-action="Index" asp-controller="Team" class="dropdown-item">Teams</a>
                                        <a asp-action="Index" asp-controller="Reservation" class="dropdown-item">Reserveringen</a>
                                        <a asp-action="BhvRegister" asp-controller="Home" asp-route-datetime="@DateTime.Now.ToString("yyyy-MM-dd hh:mm:ss")" class="dropdown-item">BHV registratie</a>

                                        @if (roleContainer.GetRole(userContainer.GetLoggedInUser().Role).Name == "Administrator")
                                        {
                                            <a asp-action="Teams" asp-controller="Admin" class="dropdown-item">
                                                <b>Archief Teams</b>
                                            </a>
                                            <a asp-action="Index" asp-controller="Admin" class="dropdown-item">
                                                <b>Pandbeheer</b>
                                            </a>
                                        }

                                        <a class="dropdown-item" asp-action="Logout" asp-controller="Auth">
                                            Uitloggen
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        @*        <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2022 - Vecozo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@
    }
    else
    {
        @RenderBody()
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
